@import "tailwindcss";

body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

input, select, button {
  color: #171717;
}

table {
  color: #171717;
}

th {
  background: #e5e7eb;
  color: #171717;
}

td {
  background: #ffffff;
  color: #171717;
}
